CREATE TABLE trade_journal (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id),
  symbol TEXT NOT NULL,
  market TEXT NOT NULL,
  timeframe TEXT NOT NULL,
  status TEXT DEFAULT 'OPEN',
  entries JSONB DEFAULT '[]',
  stop_loss NUMERIC,
  take_profits JSONB DEFAULT '[]',
  avg_entry NUMERIC,
  total_pnl NUMERIC DEFAULT 0,
  notes TEXT,
  opened_at TIMESTAMPTZ DEFAULT NOW(),
  closed_at TIMESTAMPTZ,
  created_at TIMESTAMPTZ DEFAULT NOW()
);
